.projects {
    padding: 100px 110px 100px 110px;
}

.projects>h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
}

.projects>p {
    font-weight: 400;
    font-size: 16px;
}

.project-slider{
    width: 100%;
}

.project-slider .swiper-slider{
    width: 80%;
    border: 2px solid red;
}

.project-slide-box {
    width: 20rem;
    height: 20rem;
}

.project-slide-box img{
    width: 100%;
    height: 14rem;
    margin-bottom: 2rem;
    object-fit: contain;
}

.project-slide-box a{
    text-decoration: none;
    text-align: center;
    color: #000;
    border-bottom: 2px solid #D3DCF8;
}

.project-slide-box a:hover{
    font-size: 2rem;
}

@media screen and (max-width:580px) {
    .projects{
        padding: 20px 1rem 100px 1rem;
    }

    .projects>h2 {
        font-size: 38px;
    }

    .project-slider .swiper-slider{
        width: 90%;
        overflow: visible!important;
    }
    
    .project-slide-box {
        width: 20rem;
        height: 20rem;
    }

    .project-slide-box img {
        width: 100%;
    }

    .project-slide-box {
        text-decoration: none;
    }
}